html {
    background-color: aqua;
}

#drum-machine {
    margin-top: 12.5%;
    margin-bottom: 25%;
}

.button-body {
    margin-left: 25%;
    margin-right: 25%;
}

.drum-pad {
    margin-top: 2%;
    margin-bottom: 2%;
    border: 2px solid blue;
    border-radius: 25%;
    padding: 25px;
    font-size: larger;
    color: white;
    background-color: cornflowerblue;
    display: inline-block;
}

.drum-pad:hover {
    background-color: lightskyblue;
}