<!-- <div class="post-list">
    {% for post in site.posts %} 
        {% if post.project == null %}
    <ul>
        <li class="wow fadeInLeft item" data-wow-duration="1.5s">
            <a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            <div>{{ post.date }}</div>
            <p>{{ post.excerpt }}</p>
            <a href="{{ site.url }}{{ post.url }}" class="btn btn-comp zoombtn">Read More</a>
        </li>
    </ul>
        {% endif %}
    {% endfor %}
</div> -->