.divider-vertical {
	height: 40px;
	margin: 0 9px;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #ffffff;
}

.tribute {
  	background-color: #F7F7F7;
  	border-radius: 5px;
  	padding: 50px 0px 50px 0px;
}

.tribute-img {
	background-color: #FFFFFF;
 	border: 1px solid #DDD;
  	border-radius: 5px;
  	margin: 5px 6.7% 50px 6.7%;
  	padding: 25px 25px 25px 25px;
}

.tribute-block {
	margin: 5px 16.7% 5px 16.7%;
}

.tribute-font {
	font-family: "Times New Roman";
}

.tribute-quote-font {
	font-family: "";
}

.tribute-title-font {
	font-family: 'Italianno', cursive, "Times New Roman";
	font-size: 1.75em;
}

.tribute-title-font-lg {
	font-family: 'Italianno', cursive, "Times New Roman";
	font-size: 5em;
}